body {
  background: #fff !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11pt;
  font-weight: 300;
  color: #6c6c6c;
}

#header-featured {
  background-image: url(banner.jpg) !important;
}

.wrapper {
  padding-top: 20px;
}

#copyright {
  background: #2b2b2b;  
}

#copyright span {
  color: #2b2b2b;
}

#copyright span > a {
  color: #2b2b2b;
  text-decoration: none;
}